<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script>
            $(document).bind("mobileinit", function() {
                // As of Beta 2, jQuery Mobile's Ajax navigation does not work in all cases (e.g.,
                // when navigating from a mobile to a non-mobile page, or when clicking "back"
                // after a form post), hence disabling it.
                $.mobile.ajaxEnabled = false;

               
                
            });

            $(document).bind('pageinit', function () {

                var db = window.openDatabase("Database", "1.0", "PhoneGap Demo", 200000);
                db.transaction(pwdDB, errorCB, successCB);
            }
            );
            $(document).ready(function () {
                document.addEventListener("deviceready", onDeviceReady, false);
            });
    // Wait for PhoneGap to load
    //
    

    // Populate the database 
            //

            function klantsearch() {
                var zoekwoord = $("#zoekwoord").val();
                var list = "";
                $.ajax({
                    type: "GET",
                    url: "/Klant/AjaxSearch",
                    dataType: "json",
                    data: { zoek: zoekwoord }
                }).done(function (msg) {
                    alert("Data Saved: " + msg);
                    $.each(msg, function () {


                        var obj = jQuery.parseJSON(this);
                        alert(this.voornaam);
                        list += '<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right"  class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="/Ticket/NieuwTicket?klant=' + this.id + '" class="ui-link-inherit"><p class="ui-li-aside ui-li-desc"><strong>6:24</strong>PM</p>';

                        list += '<h3 class="ui-li-heading">'
                        list += this.voornaam + ' ' + this.achternaam;
                        list += '</h3>';
                        list += '</div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>';

                    });
                    $("ul:jqmData(role='listview')").empty();
                    $("ul:jqmData(role='listview')").append(list).listview("refresh", true);
                });
            }

    function clearDB(tx) {
        tx.executeSql('DROP TABLE IF EXISTS DEMO');
    }
    function populateDB(tx) {
        
        tx.executeSql('CREATE TABLE IF NOT EXISTS DEMO (id unique, data)');
        tx.executeSql('INSERT INTO DEMO (id, data) VALUES (1, "123456")');
    }

    function Logoff() {
        var db = window.openDatabase("Database", "1.0", "PhoneGap Demo", 200000);
        db.transaction(clearDB, errorCB, successCB);
        
    }

    function saveToken(tx) {
        tx.executeSql('DROP TABLE IF EXISTS TOKENS');
        tx.executeSql('CREATE TABLE IF NOT EXISTS TOKENS (id unique, data)');
        tx.executeSql('INSERT INTO DEMO (id, data) VALUES (1, "123456")');
    }

    // Query the database
    //
    function queryDB(tx) {
        tx.executeSql('SELECT * FROM DEMO', [], querySuccess, errorCB);
    }

    function pwdDB(tx) {
        tx.executeSql('SELECT * FROM DEMO', [], queryPwdSuccess, errorCB);
    }

    // Query the success callback
    //
    function querySuccess(tx, results) {
    
        alert(results.rows.item(i).data);
    }
    function queryPwdSuccess(tx, results) {
     
        $("#Password").val(results.rows.item(0).data);
    }
    // Transaction error callback
    //
    function errorCB(err) {
        console.log("Error processing SQL: "+err.code);
    }

    // Transaction success callback
    //
    function successCB() {
        var db = window.openDatabase("Database", "1.0", "PhoneGap Demo", 200000);
        db.transaction(queryDB, errorCB);
    }

    // PhoneGap is ready
    //

    function onDeviceReady() {
        alert("test");
        var db = window.openDatabase("Database", "1.0", "PhoneGap Demo", 200000);
        db.transaction(populateDB, errorCB, successCB);
    }

  





        </script>
    </head>
    <body>
        <div data-role="page" data-theme="b">
            <div data-role="header">
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                     @Html.Partial("_LoginPartial")
                    <h1>@ViewBag.Title</h1>
                    if (@ViewBag.Gearlink != null)
                    {
                    <a href="@ViewBag.GearLink" data-icon="gear">Bewerk</a>
                    }
                }
            </div>
            <div data-role="content">
                @RenderBody()
            </div>
        </div>
    </body>
</html>