@{
    ViewBag.Title = "Home Page";
}

<h2>Proxit ticketing</h2>


<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Tickets","Index","Ticket")</li>
    <li>@Html.ActionLink("Klanten", "Index", "Klant")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Gebruikers","Index","Gebruiker")</li>
    <li>@Html.ActionLink("Producten","Index","Producten")</li>
    <li>@Html.ActionLink("Zoek","Index","FSearch")</li>
</ul>