@model Mvc4.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

@section Header {
    @Html.ActionLink("Cancel", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Details</li>
<!--
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </li>
        -->
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </li>
        <!--
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.RememberMe)
            @Html.CheckBoxFor(m => m.RememberMe)
        </li>

        -->

        <li data-role="fieldcontain">
            <input type="submit" value="Log in" />
        </li>
    </ul>
}